.board-header{
    display:flex;
    height:50px;
}

.board-list-title{
margin-left:10px;
}

.board-lists{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:25vw;
    border: 1px solid black;
}

.btn{
    margin:0;
    width:auto;
}

.board-container{
    display:flex;
}

.drag-area{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:25vw;
}

#todo, #inprogress,#awaitingfeedback,#done{
    border: 1px solid black;
    height:calc(100vh - 100px - 50px);   
}

.ticket{
    display:flex;
    flex-direction:column;
    width:85%;
    
    margin-top:10px;
    border: 1px solid black;
    border-radius:10px;
    cursor:pointer;
    padding:10px;

    background: rgb(250,0,232);
    background: linear-gradient(225deg, rgba(255,64,129,1) 0%, rgba(242,137,236,1) 16%, rgba(255,255,255,1) 81%);
}

.ticket span{
    margin-left:5px;
}

@media (min-width:280px) and (max-width:350px) {


}