{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
  let username = '{{ request.user.username }}';
  let token = '{{ csrf_token }}';
</script>
<script src="{% static 'js/login.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-center-container">
  <div class="login-container">
    <h1>Login</h1>
    <form onsubmit="login(); return false" method="POST">
      {% csrf_token %}
      <!--Username-->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" id="username" name="username" type="text" required>
        <label class="mdl-textfield__label" name="usernamecontent" for="username">Username</label>
      </div>
      <!--Password-->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" id="password" name="password" type="password" required>
        <label class="mdl-textfield__label" name="passwordcontent" for="password">Password</label>
      </div>

      <!--Button-->
      <div class="login-button-container">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Login
        </button>
        <!-- Spinner while Loading -->
        <div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active spinner d-none"></div>
        <!-- ErrorField if something went wrong -->
        <div id="error" class="error d-none"><img src="{% static 'img/error.png' %}"><span>Couldn't log in. Username or
            Password incorrect.</span>
        </div>
    </form>
  </div>

  <div>Not registered? <a href="/register/">Click here</a></div>

</div>


{% endblock %}

